.App{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
.controlColor{
  width: 30vw;
}
.box{
  padding: 20vh 0;
  width: 35vw;
  height: 50vh;
  background-color: brown;
  color: aliceblue;
}